body{
    background-color: #f7f7f7;
}
.menu_vertical{
    display: flex;
    width: 400px;
}
span{
    color: white;
    padding: 0 50px 0 0;
    font-size: 13px;
    font-family: Calibri, sans-serif;
}
img{
    width: 50px;
    padding: 0 10px 0 10px;
}
.li_img{
    display: flex;
    align-items: center;
    text-decoration: none;
}
li{
    list-style: none;
    background: darkgrey;
}
li:hover{
    background: grey;
}